.hidden-on-mobile {
    display: none;
}

h1 {
    float: left;
    margin-right: 100px;
    margin-top: 0;
}

.nav-links {
    list-style-type: none;
    float: right;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.header-img {
    clear: both;
    margin: 0 auto;
    /*height: 385px;*/
    /*width: 890px;*/
    /*margin-bottom: 20px;*/

}

.header-img img {
    width: 100%;
}

.main {
    float: left;
    width: 60%;
    text-align: match-parent;
    box-sizing: border-box;
    padding: 10px;

}

.sub-section {
    float: left;
    width: 40%;
    font-style: italic;
    text-align: match-parent;
    box-sizing: border-box;
    padding: 10px;
}

footer>p {
    margin-top: 250px;
}
