h1 {
    float: left;
    margin-right: 100px;
}

.nav-links {
    list-style-type: none;
    float: left;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.header-img {
    clear: both;
}

